{% extends "base_app.html" %}

{% block title %}
    Импорт и экспорт контактов
{% endblock %}


{% block header %}
    <div class="header">
        <h1>Импорт и экспорт контактов</h1>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock %}


{% block content %}
    <h3>Импорт контактов</h3>
    <form action="{% url 'import_contacts' %}" method="post" enctype="multipart/form-data">
        <input type="file" name="import_file" accept=".csv, .xlsx, .xls"><br/>
        <button type="submit">Импортировать</button>
    </form>
    {% if import_stats %}
        <span>Добавлено контактов: {{ import_stats.contact.added }}</span><br/>
        <span>Обновлено контактов: {{ import_stats.contact.updated }}</span><br/>
        <span>Добавлено компаний: {{ import_stats.company.added }}</span><br/>
    {% endif %}

    <h3>Экспорт контактов</h3>
    <form action="{% url 'export_contacts' %}" method="get">
        <fieldset>
            <legend>Поля для экспорта:</legend>
            <label><input type="checkbox" name="select" value="ID" checked> ID</label><br>
            <label><input type="checkbox" name="select" value="NAME" checked> Имя</label><br>
            <label><input type="checkbox" name="select" value="LAST_NAME" checked> Фамилия</label><br>
            <label><input type="checkbox" name="select" value="PHONE" checked> Телефон</label><br>
            <label><input type="checkbox" name="select" value="EMAIL" checked> Email</label><br>
            <label><input type="checkbox" name="select" value="COMPANY_TITLE" checked> Компания</label>
        </fieldset>

        <fieldset>
            <legend>Фильтры:</legend>
            <label>Название компании: <input type="text" name="COMPANY_TITLE"></label><br>
            <label><input type="checkbox" name="HAS_EMAIL" value="Y"> Только с Email</label><br>
            <label><input type="checkbox" name="HAS_PHONE" value="Y"> Только с телефоном</label>
        </fieldset>

        <fieldset>
            <legend>Формат файла:</legend>
            <button type="submit" name="ext" value=".csv">Сохранить CSV</button>
            <button type="submit" name="ext" value=".xlsx">Сохранить XLSX</button>
        </fieldset>
    </form>
{% endblock %}


{% block scripts %}

{% endblock %}