{% extends "base_app.html" %}

{% block title %}
    Таблица сотрудников
{% endblock %}


{% block header %}
    <div class="header">
        <h1>Таблица сотрудников</h1>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock %}


{% block content %}
<div class="controls">
    <form method="get" action="">
        <button type="submit">Обновить</button>
    </form>
    <form method="get" action="{% url 'generate_calls' %}">
        <button type="submit">Сгенерировать 10 звонков</button>
    </form>
</div>
<div class="employee-table-container">
    <table class="employee-table">
        <thead>
            <tr>
                <th>Сотрудник</th>
                <th>Должность</th>
                <th>Отдел</th>
                <th>Руководители</th>
                <th>Число звонков</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
                <tr>
                    <td class="employee-cell" data-user-id="{{ emp.id }}">
                        <div class="employee-info">
                            {% if emp.photo %}
                                <img src="{{ emp.photo }}" class="employee-photo">
                            {% else %}
                                <div class="employee-photo placeholder"></div>
                            {% endif %}
                            <span class="employee-name">{{ emp.name }}</span>
                        </div>
                    </td>
                    <td>{{ emp.position }}</td>
                    <td>{{ emp.department }}</td>
                    <td>
                        {% for head in emp.heads %}
                            <span class="head-name" data-user-id="{{ head.id }}">{{ head.full_name }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ emp.calls }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Нет данных о сотрудниках</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/staff_table.css' %}?v=2"/>

<script src="{% static 'js/slider.js' %}"></script>
{% endblock %}