{% extends "base_app.html" %}

{% block title %}
    Карта компаний
{% endblock %}


{% block header %}
    <meta name="referrer" content="origin-when-cross-origin">
    <div class="header">
        <h1>Карта компаний</h1>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock %}


{% block content %}
    <div id="map"></div>
{% endblock %}


{% block scripts %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/map.css' %}"/>
<script>
    const points = {{ points|safe }};
    console.log(points);
</script>

<script src="https://api-maps.yandex.ru/v3/?apikey={{ api_key }}&lang=ru_RU"></script>
<script type="module" src="{% static 'js/map.js' %}"></script>
{% endblock %}