{% extends "base_app.html" %}

{% block title %}
    Товары и QR-коды
{% endblock %}

{% block header %}
    <div class="header">
        <h1>Товары и QR-коды</h1>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock %}

{% block content %}
    <div class="search-container">
        <form id="searchForm">
            <input
                type="text"
                id="searchInput"
                name="query"
                placeholder="Поиск по ID или названию товара"
                autocomplete="off"
            >
            <button type="submit" id="searchBtn">Поиск</button>
        </form>
        <ul id="autocompleteList" class="autocomplete-list"></ul>
    </div>
    {% include "generate_qr.html" %}
{% endblock %}


{% block scripts %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/qr_search_page.css' %}"/>
<script>
    const autocompleteUrl = "{% url 'autocomplete_item' %}";
    const findItemUrl = "{% url 'find_item' %}";
    const generateQrUrl = "{% url 'generate_qr' %}";
</script>

<script src="{% static 'js/qr_search_page.js' %}"></script>
<script src="{% static 'js/generate_qr.js' %}"></script>
{% endblock %}